/* .navbar-expand-lg .navbar-nav{
  flex-direction: row-reverse;
} */
.t-color{
  color: #10A1B1;
}
.t-bg{
  background-color: #10A1B1;
}



.how-it-works {
  background: #f9fbfc;
}


.ar{
  direction: rtl;
}
.en{
  direction: ltr;
}


.text-teal { color: #2ab7a9; }

.active-link {
  color: #2ab7a9 !important;
  border-bottom: 2px solid #2ab7a9;
}

.search-wrapper { max-width: 400px; }

.cursor-pointer { cursor: pointer; }

[dir="rtl"] .offcanvas-start {
  right: 0;
  left: auto;
  transform: translateX(100%);
  border-left: 1px solid rgba(0,0,0,.2);
  border-right: none;
}
@media (min-width: 768px) {
.t-profile-dropdown{
  /* right: -100px !important; */
  /* left: auto; */
}


}
[dir="rtl"] .offcanvas.show:not(.hiding),
[dir="rtl"] .offcanvas.showing {
  transform: none;
}

/* شكل الروابط داخل المنيو الجانبي */
.list-group-item-action:hover {
  background-color: #f0fdfa;
  color: #2ab7a9;
}





