<div class="raw py-5">
 <div class="container-fluid d-flex px-5 flex-md-row flex-column-reverse ">
   <div class="col-7">
    <h1 class="alert alert-success fs-5 t-alert" >
      Modern Learning & Assessment
    </h1>
    <div class="fs-5 text-secondary">
      <h1 class="t-fs"> Learning that  </h1>
      <h1 class="t-fs"> Flows with You. </h1>
    </div>
    <pre class="fs-5 text-secondary mt-4">
Access premium examinations and adaptive learning tools
instantly. Your journey to academic excellence starts with a single
code.
    </pre>
<div class="">
      <button class="btn bg-primary text-white p-2 px-4">
       Enter Code
      </button>
      <button class="btn bg-secondary text-white p-2 px-4 ms-3 ">
        Start Learning
      </button>
</div>
  </div>
  <div class="col-5">
    <img src="../../../assets/student.png" alt="Landing Image" class="img-fluid t-img">
  </div>
 </div>
</div>
