
body{
  background-color: #f8f9fa;
  overflow-x: hidden;
}
.t-fs{
  font-size: 4.5rem;
}

.t-bg-secondary{
  background-color: #58CC02;
}
.bg-primary{
  background-color: #10a1b1 !important;
}
.text-primary{
  color: #10a1b1 !important;
}
.radius-50{
  border-radius: 50px;
}
